/**** SIDEBAR ****/

#sidebar {
  width: 230px;
  position: absolute;
  font-size: 12px;
}

#sidebar .holderBox{
  background: #fff;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10px;
  padding: 20px 20px;
}

#sidebar .holderBox h2{
  font-family: "museo-slab 700",arial;
  font-size: 16px;
  color: #333333;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  font-weight: bold;
}

#sidebar ul ul { margin-bottom: 0; }

#sidebar ul li{
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-bottom: 12px;
  background-position: left 0px;
  -webkit-transition: background-position 200ms ease;
     -moz-transition: background-position 200ms ease;
       -o-transition: background-position 200ms ease;
          transition: background-position 200ms ease;
}

#sidebar ul li:hover{
  background-position: left -14px;
  -webkit-transition: background-position 200ms ease;
     -moz-transition: background-position 200ms ease;
       -o-transition: background-position 200ms ease;
          transition: background-position 200ms ease;
}

#sidebar ul li.home{
  background-image: url("../img/icon_sidebar_home.png");
}
#sidebar ul li.kedvenceim{
  background-image: url("../img/icon_sidebar_kedvencek.png");
}
#sidebar ul li.konyvjelzo{
  background-image: url("../img/icon_sidebar_konyvjelzo.png");
}
#sidebar ul li.kategoria{
  background-image: url("../img/icon_sidebar_kategoriak.png");
}

#sidebar ul li.last{
  margin-bottom: 0px;
}

#sidebar ul li a {
  display: block;
  border: none;
  line-height: 14px;
  font-size: 11px;
  color: #333333;
  -webkit-transition:color 100ms ease-in;  
     -moz-transition:color 100ms ease-in;  
       -o-transition:color 100ms ease-in;  
          transition:color 100ms ease-in;
}

#sidebar ul li a:hover{
  color: #ff6666;
  -webkit-transition:color 100ms ease-in;  
     -moz-transition:color 100ms ease-in;  
       -o-transition:color 100ms ease-in;  
          transition:color 100ms ease-in;
}

#sidebar .bankIcon{
  margin: 20px 13px 0 0;
}

#sidebar .bankIcon.last{
  margin: 20px 0px 0 0;
}

#sidebar input[type="text"]{
  background: url("../img/sidebar_input_bg.png") left center no-repeat;
  border: none;
  outline: none;
  height: 28px;
  width: 165px;
  padding: 0px 10px;
  color: #333;
}

#sidebar .newsFreqHolder{
  float: left;
  clear: both;
  width: 100%;
}

#sidebar .newsFreq{
  float: left;
  color: #333;
  margin: 10px 10px 10px 0;
}

#sidebar input[type="submit"]{
  border: none;
  outline: none;
  height: 28px;
  width: 93px;
  padding: 0px 10px;
  color: #333;
  clear: both;
  background: url("../img/subscribe.png")top left no-repeat;
  cursor: pointer;
}